@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Poppins:300,200');
a:hover{
background-color:#2A2F33;
color: white;
}

header:first-of-type{
    background-color: #046DD5;
    font-family:Poppins;
    padding: 1em;
    color: white;
}

article p{
    padding-left: 1em;
}

header:first-of-type a{
    color: white;
    text-decoration: none;
}

#signup a:nth-of-type(1){
    border-right: 2px solid white;
    margin-right:5px;
    padding-right: 1em;
}

input{
       display:none;
}

#menu ul{
    margin: 0;
    padding: 0;
}
#menu ul li{
    font-family: Poppins;
    text-align: center;
    list-style-type: none; 
    padding: 1em;   
}

#menu ul li:nth-child(1){
    border-top:4px solid #E1493E;
    border-bottom: 4px solid #8ABA56;
}

#menu ul li:nth-child(2){

    border-bottom: 4px solid #5B4282;
}

#menu ul li:nth-child(3){

    border-bottom: 4px solid #FF8932;
}

#menu ul li:nth-child(4){

    border-bottom: 4px solid #19B6E9;
}

#menu ul li:nth-child(5){

    border-bottom: 4px solid #E84C8B;
}

#menu ul li a:visited,a{
   text-decoration: none;
   color: black;
}

#related, #related a{
    background-color: #2A2F33;
    font-family: Poppins;
    color: white;
    padding: 1em;
}

#news header, #news header a{
    background-color: white;
    color: white;
    text-shadow: 2px 4px 5px black;
    
}

img{
    width: 100%;
}

#news p{
    font-family: Lora;
    padding: 1em;
}

#news p:nth-of-type(1):first-letter{
   
    font-size: 40px;
}

section footer{
    background-color: #F4655F;
}

footer{
    background-color: #2A2F33;
    color: white;
    font-family: Poppins;
    padding: 1em;
}

.date{
    color: white;
    margin-right: 2em;
}
.tags a:nth-of-type(2){
    margin-right: 2em;
    
}
.tags a{
    
    color: white;
    border-bottom: 2px solid white;
}

.comments{
    color: white;
    border-bottom: 2px solid white;
    
}

.comments::after{
    content: " comments";
}

.author:before{
    content: "By ";
}

